################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PublishSubscribe/v15
/CommonSource/obj/Debug
/PublishSubscribe/bin/Debug
/ReceiveLogs/bin/Debug
/ReceiveLogs/obj/Debug
